<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="LOG_DIR">logs</Property>
        <Property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="CONSOLE_PATTERN">%d{HH:mm:ss.SSS} %-5level %logger{30} - %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>

        <RollingFile name="File"
                     fileName="${LOG_DIR}/app.log"
                     filePattern="${LOG_DIR}/app-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Suppress noisy third-party debug output -->
        <Logger name="org.xerial" level="WARN" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="com.sun.mail" level="WARN" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="org.eclipse.angus" level="WARN" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>
